.banner {
    background-image: url(./images/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0 140px;
}

.terms {
    background-color: #101221;
    padding: 60px 30px;
    border: 1px solid #E50B74;
    border-radius: 5px;
    box-shadow: 0px 4px 30px 0px #35385E;
}

.termsP {
    font-size: 20px;
    line-height: 29px;
}

.termsTitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-shadow: none;
    background: linear-gradient(90deg, #E50913 2.5%, #E60B74 97.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.term {
    margin-left: 20px;
}
