.banner {
    background: center / cover no-repeat url('./images/bg.jpg');
    padding: 140px 0 220px;
    position: relative;
}

.bannerBtn {
    width: 168px;
    text-transform: none;
}

.bannerBtn:first-child {
    margin-right: 26px;
}

.banner::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 240px;
    background: linear-gradient(
180deg
, rgba(5, 7, 19, 0) 0%, rgba(5, 7, 19, 0.40625) 65.62%, #050713 100%);
}

.banner * {
    z-index: 999;
}

.title {
    font-weight: 600;
    font-size: 72px;
    line-height: 78px;
}

.titleHighlight {
    color: #101221;
    text-shadow: -1px -1px 0 #E60B74, 1px -1px 0 #E60B74, -1px 1px 0 #E60B74, 1px 1px 0 #E60B74;
    margin-left: 100px;
}

.highlight {
    text-shadow: none;
    background: linear-gradient(
90deg
, #E50913 2.5%, #E60B74 97.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.smContainer {
    max-width: 900px;
    margin: 0 auto;
}

.about {
    background-image: url(./images/about-bg.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 847px;
    padding-top: 400px;
    margin-top: -250px;
    z-index: 1;
    position: relative;
}

.aboutContent {
    max-width: 610px;
}

.about .highlight {
    font-size: 60px;
    line-height: 66px;
}

.aboutP {
    font-size: 20px;
    line-height: 24px;
}

.intro {
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 30px;
}

.terms {
    background-color: #101221;
    padding: 60px 30px;
    border: 1px solid #E50B74;
    border-radius: 5px;
    box-shadow: 0px 4px 30px 0px #35385E;
}

.termsP {
    font-size: 20px;
    line-height: 29px;
}

.termsTitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-shadow: none;
    background: linear-gradient(90deg, #E50913 2.5%, #E60B74 97.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.term {
    margin-left: 20px;
}

.social {
    background-image: url(./images/social-bg.png);
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    display: flex;
    align-items: center;
}

.socialTitle {
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 25px;
}

.socialAbout {
    max-width: 408px;
}

.socialP {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 30px;
}

.question .highlight {
    font-size: 60px;
    line-height: 66px;
}

.question {
    font-size: 24px;
    line-height: 30px;
    display: flex;
}

.answer {
    font-size: 20px;
    line-height: 24px;
}

.joinTerms {
    padding: 206px 0;
    background-image: url(./images/joinBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
}

.joinTerms .highlight {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 25px;
}

.joinTermsContainer {
    max-width: 376px;
}

.joinTermsP {
    font-size: 20px;
    line-height: 29px;
}

.akImage {
    position: relative;
    left: -200px;
}

.cupImage {
    position: relative;
    top: -60px;
}

.qas {
    margin-top: -200px;
}

.tournaments {
    background-image: url(./images/tournament-bg.png);
    background-position-x: center;
    background-position-y: -200px;
    background-repeat: no-repeat;
    background-size: 1044px 723px;
    padding-top: 280px;
    margin-top: -200px;
}

.tournaments .highlight {
    font-size: 54px;
    line-height: 66px;
}

@media (max-width: 992px) {
    .smContainer {
        padding: 0 12px;
    }

    .about .highlight {
        font-size: 40px;
        line-height: 46px;
    }

    .title {
        font-size: 52px;
        line-height: 78px;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .titleHighlight {
        text-align: right;
    }

    .intro {
        font-size: 16px;
        line-height: 23px;
        text-align: left;
    }

    .qas {
        margin-top: 20px;
    }

    .qas img {
        position: static;
        width: 100%;
    }

    .question .highlight {
        font-size: 40px;
        line-height: 66px;
    }
    
    .question {
        font-size: 18px;
        line-height: 18px;
    }

    .penguinImage {
        width: 100%!important;
    }

    .socialTitle {
        font-size: 24px;
        line-height: 35px;
    }

    .joinTerms .highlight {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 8px;
    }
    
    .joinTermsContainerFirst {
        text-align: left;
    }

    .joinTermsContainerSecond {
        text-align: right;
        margin-top: 32px;
    }

    .introBtns {
        display: flex;
        justify-content: space-between;
    }

    .about {
        padding-top: 200px;
        margin-top: -40px;
        height: auto;
    }

    .bannerContent {
        margin-top: 100px;
    }

    .banner {
        padding: 100px 0 40px;
        text-align: center;
    }

    .banner::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .prizeSection {
        padding-top: 80px;
        padding-bottom: 20px;
    }

    .prizeHeader {
        padding: 5px;
        margin-top: 10px;
        width: 100%;
    }
    .terms {
        margin-top: 15px;
    }

    .tournaments .highlight {
        font-size: 40px;
        line-height: 46px;
        text-align: left!important;
    }
}
