.playerComments {
    position: relative;
    display: inline-block;
    width: 908px;
}

.syllabus {
    width: 360px;
    border-radius: 5px;
    background-color: #101221;
}

.syllabusTitle {
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    color: #767698;
    margin: 0;
  }

  .syllabusHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #1D1F38;
      padding: 8px 16px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      box-shadow: 0px 4px 20px 0px #05071333;
  }

  .syllabusCta {
    background-color: #1D1F38;
    padding: 20px;
    border-radius: 5px;
}

.ctaFeaturesTitle {
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px;
    color: #EBEBEB;
}

.ctaFeature {
    display: flex;
    align-items: center;
}

.ctaFeatureText {
    color: #767698;
    font-size: 16px;
line-height: 24px;
margin-left: 20px;
}

.grid {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .playerComments {
        width: 100%;
        box-sizing: border-box;
    }

    .grid {
        justify-content: space-between;
        flex-direction: column;
    }

    .syllabus {
        width: 100%;
    }
}
