.input {
    margin-bottom: 15px;
}

.submit {
    margin-top: 5px;
}

.loginLabel {
    color: #767698;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 20px;
}

.loginWithLabel {
    margin: 15px 0;
    color: #767698;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
}
