  .playerComments {
      position: relative;
      display: inline-block;
      width: 908px;
  }

  .featuresHighlight {
    text-shadow: none;
    background: linear-gradient(90deg, #E50913 2.5%, #E60B74 97.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .featuresForeground {
      margin-top: -60px;
  }

  .faqSection {
      max-width: 820px;
      margin: 0 auto;
  }

  .syllabus {
      width: 360px;
      border-radius: 5px;
      background-color: #101221;
  }

  .features {
      padding: 100px 0 80px;
  }

  .featuresTitle {
    font-weight: 600;
    font-size: 40px;
    line-height: 36px;
    height: 180px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    background-image: url(./images/features-bg.png);
    background-repeat: repeat-x;
    background-size: contain;
  }

  .featuresList {
      max-width: 800px;
      list-style: none;
      padding: 0;
  }

  .featuresNum {
      width: 36px;
      height: 36px;
      margin-bottom: 20px;
      margin-top: 20px;
      color: #E60B74;
      border: 1px solid #E60B74;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    line-height: 20px;
  }

  .featuresItemTitle {
    color: #EBEBEB;
    font-weight: 500;
    margin-bottom: 10pxx;
font-size: 20px;
line-height: 29px;
text-transform: none!important;
  }

  .featuresItemP {
    font-size: 16px;
    line-height: 24px;
    color: #EBEBEB;
  }

  .syllabusTitle {
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    color: #767698;
    margin: 0;
  }

  .syllabusHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #1D1F38;
      padding: 8px 16px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      box-shadow: 0px 4px 20px 0px #05071333;
  }

  .progress {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 96px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #767698;
    margin: 0;
  }

.finalCta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./images/cta.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    border-radius: 5px;
}

.syllabusCta {
    background-color: #1D1F38;
    padding: 20px;
    border-radius: 5px;
}

.ctaFeaturesTitle {
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px;
    color: #EBEBEB;
}

.ctaFeature {
    display: flex;
    align-items: center;
}

.ctaFeatureText {
    color: #767698;
    font-size: 16px;
line-height: 24px;
margin-left: 20px;
}

.finalCtaText {
    color: #FFFFFF;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    max-width: 806px;
    text-align: center;
    margin-bottom: 40px;
}

.finalCta .finalCtaBtn {
    background: rgba(255, 255, 255, 0.1)!important;
    border: 2px solid #FFFFFF!important;
    color: #fff!important;
}

.finalCta .finalCtaBtn:hover {
    opacity: .8!important;
}

@media (max-width: 992px) {
    .finalCta {
        background-image: none;
        background-color: #e60b5d;
    }

    .finalCtaBtn {
        width: 100%;
    }

    .ctaMeta {
        text-align: center;
    }

    .featuresTitle {
        background-size: cover;
        padding: 60px 0;
        height: 320px;
        font-size: 36px;
        text-align: center;
    }
    .featuresForeground {
        display: none;
    }
}
