.comment {
    margin-bottom: 20px;
}

.commentImg {
    margin-right: 20px;
    border-radius: 5px;
}

.commentAuthor {
    color: #767698;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
}

.commentDate {
    color: #767698;
    font-size: 14px;
    line-height: 20px;
    margin-left: 5px;
}

.commentContent {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

