.root {
    margin-top: 15px;
}

.input {
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

.unsigned {
    padding: 20px;
    background-color: #101221;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
    text-align: center;
}

.comments {
    background-color: #101221;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px;
}

.commentsList {
    list-style: none;
}

.commentsList > * {
    margin-bottom: 20px;
} 

.commentAvatar {
    margin-right: 20px;
    border-radius: 5px;
}

.commentContent {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #EBEBEB;
    margin-top: 10px;
}

.sendCommentBtn {
    border: none!important;
    background-color: #25284B!important;
    border-bottom-right-radius: 0!important;
}

.commentMeta {
    color: #767698;
}

@media (max-width: 992px) {
    .root {
        display: none;
    }
}
