.root {
    width: 900px!important;
    height: 630px!important;
    position: relative;
}

.dialog {
    max-width: 900px!important;
}

.footer {
    padding: 32px 30px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(3.35deg, rgba(5, 7, 19, 0.7) 35.34%, rgba(5, 7, 19, 0.28) 96.85%);
}

.root .playButton {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-70%);
    padding: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: .4s ease-out;
    border: none;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.root .playButton:hover {
    background: rgba(0, 0, 0, 0.4)!important;
}

.player {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

@media (max-width: 992px) {
    .root {
        width: 100%!important;
        height: 100vh!important;
    }
    .footer {
        flex-direction: column;
        text-align: center;
        bottom: 200px;
    }

    .player {
        top: 200px;
    }

    .ctaBtn {
        width: 100%;
        margin-top: 15px;
    }
}
