.root {
    background-color: #101221;
    height: 100%;
    border-radius: 5px;
    padding: 15px;
    position: relative;
}

.content {
    height: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #1D1F38;
    border-radius: 5px;
    text-align: center;
}

.text {
    color: #373956;
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
}
